
*.json
ProectAlgor/ProectAlgor/.vs/ProectAlgor/v15/.suo
ProectAlgor/ProectAlgor/.vs/ProectAlgor/v15/Browse.VC.db
*.ipch
*.ilk
*.pdb
*.obj
*.pch
*.log
*.tlog
ProectAlgor/ProectAlgor/Debug/ProectAlgor.exe
*.sln
ProectAlgor/ProectAlgor/ProectAlgor/Debug/vc141.idb
ProectAlgor/ProectAlgor/ProectAlgor/pch.cpp
*.h
ProectAlgor/ProectAlgor/ProectAlgor/ProectAlgor.vcxproj
ProectAlgor/ProectAlgor/ProectAlgor/ProectAlgor.vcxproj.filters
ProectAlgor/ProectAlgor/ProectAlgor/ProectAlgor.vcxproj.user
